homework4/07_PG_подсказки_к_ДЗ-25239-0ca447.txt
homework3/Добавить_диск_к_виртуалке_в_Yandex_Cloud-25239-979d26 (1).docx
homework3/06_PG_physical_25239_37b27b-15865-b9ae35 (1).txt
homework1/id_rsa.txt
homework1/id_rsa.pub
homework5/команды-59958-b00d21 (1).txt
homework5/Параметры_кластера_для_ДЗ-25239-c324ae (1).txt
homework6/07_PG_journals-223066-61e125.txt
homework7/PG_Блокировки-59958-1123a4 (1).md
homework7/PG_Блокировки-59958-1123a4 (1).md.bak
homework8/script-133531-7f704d (1).md
homework9/Команды-59958-c7ab2e.txt
homework9_replication/Команды-59958-c7ab2e.txt
homework10_partition/demo_medium.sql
homework10_partition/demo_medium.zip
homework10_partition/partioning-133531-bca7d5.txt
homework10_partition/sql-133531-4d62c1.sql
